body {
    display:flex;
    margin:0;
}

.main-page-div {
    width:40%;
    height:100%;
    background-color:#000000;
    flex: 0 0 40%;
}
.main-page-div + .portfolio-div {
    width:60%;
    height:100%;
    flex: 1;
    overflow: hidden;
}
.name {
    font-family:"Alfa Slab One";
    font-size:4em;
    margin-top: 40%;
    color:#FFFFFF;
    text-align:center;
    line-height:1em;
}
.sub-name {
    font-family:"Mada";
    font-size:0.4em;
    color:#FFFFFF;
    margin:10px;
    margin-top:2em;
    text-align:justify+center;
    line-height:1em;
}
.text {
    font-family: "Mada";
    font-size: 0.3em;
    color:#FFFFFF;
    text-align:justify;
    margin:0 auto;
    line-height:1em;
    width:60%;
}
