.name-svg {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.portfolio-svg {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.design-legend {
	fill: #da0c6f;
}
.design-bar {
	fill: #da0c6f;
}
.code-legend {
	fill: #00b2ac;
}
.code-bar {
	fill: #00b2ac;
}
.title-rect{
	fill: #e6e7e8;
}
.title-text {
	font-family: "Mada";
	font-size: 25px;
	/*font-weight: bold;*/
	/*fill: #3D3C3C;*/
}
