/*Only custom font declaration*/
.title {
    font-family: 'Cinzel', serif;
	font-size: 60;
	text-align: center;
}

.commentary {
    font-family: 'Libre Baskerville', serif;
}

.author {
	font-family: 'Libre Baskerville', serif;
	font-size: 16;
	color: #787776;
	text-align: center;
}
